<%- include('connections/header') %>
	<%- include('connections/verify') %>
		<%- include('connections/navbar') %>
			<!-- ======= Hero Section ======= -->
			<section id="hero">
				<div class="hero-container">
					<h1><strong>Koushik Puppala</strong></h1>
					<p style="text-align: center; font-style: italic; font-size: 50px; color: whitesmoke;"
						class="intro-subtitle">A
						<span class="text-slider-items" style="display: none;">
							Student,Learner,Programmer,Web Developer,Web Designer,Freelancer
						</span><span class="text-slider"></span>
					</p>

					<a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i
							class="bx bx-chevron-down"></i></a>
				</div>
			</section>
			<!-- End Hero -->

			<main id="main">
				<!-- ======= About Me Section ======= -->
				<section id="about" class="about">
					<div class="container">

						<div class="section-title">
							<span>About Me</span>
							<h2>About Me</h2>
							<h3 style="text-align: center; font-style: italic;">Hello Friends, I am
								<strong>Koushik Puppala</strong> student of Bachelor of Technology in Computer Science
								and Engineering at Indian Institute of Information Technology Raichur, which is control
								by the Indian Institute of Technology Hyderabad.
							</h3>
							<h3 style="text-align: center; font-style: italic;">My Home town is Rajahmundry, Andhra
								Pradesh, and I belong to a middle-class family. I have learned so many things from my
								past and surrounding people, which motivates me to work hard to make a better future.
							</h3>
						</div>

						<div class="row">
							<div
								class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start">
							</div>
							<div class="col-lg-8 d-flex flex-column align-items-stretch">
								<div class="content pl-lg-4 d-flex flex-column justify-content-center">
									<div class="row">
										<div class="col-lg-12">
											<ul>
												<li><i class="icofont-rounded-right"></i> <strong>Name:</strong> Koushik
													Puppala
												</li>
												<li><i class="icofont-rounded-right"></i> <strong>Degree:</strong>
													Bachelor
													of Technology(First Year)</li>
												<li><i class="icofont-rounded-right"></i> <strong>Email:</strong>
													contact@koushikpuppala.live
												</li>
												<li><i class="icofont-rounded-right"></i> <strong>College:</strong>
													Indian
													Institute of Information Technology, Raichur</li>
											</ul>
										</div>
										<div class="col-lg-12">
											<div class="progress" style="margin-top: 25px;">
												<div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
													role="progressbar" aria-valuenow="100" aria-valuemin="0"
													aria-valuemax="100" style="width: 100%" aria-label="C - 100%"><strong>C - 100%</strong>
												</div>
											</div>
											<div class="progress" style="margin-top: 25px;">
												<div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
													role="progressbar" aria-valuenow="85" aria-valuemin="0"
													aria-valuemax="100" style="width: 85%" aria-label="C++ - 85%"><strong>C++ - 85%</strong>
												</div>
											</div>
											<div class="progress" style="margin-top: 25px;">
												<div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
													role="progressbar" aria-valuenow="80" aria-valuemin="0"
													aria-valuemax="100" style="width: 80%" aria-label="HTML - 80%"><strong>HTML - 80%</strong>
												</div>
											</div>
											<div class="progress" style="margin-top: 25px;">
												<div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
													role="progressbar" aria-valuenow="80" aria-valuemin="0"
													aria-valuemax="100" style="width: 80%" aria-label="JavaScript - 80%"><strong>JavaScript - 80%</strong></div>
											</div>
											<div class="progress" style="margin-top: 25px;">
												<div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
													role="progressbar" aria-valuenow="80" aria-valuemin="0"
													aria-valuemax="100" style="width: 75%" aria-label="CSS - 75%"><strong>CSS - 75%</strong>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- End .content-->
							</div>
						</div>

					</div>
				</section>
				<!-- End About Me Section -->
				<%- include('connections/contact') %>
					<%- include('connections/footer') %>